<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">
<script src="https://openlayers.org/en/v4.6.5/build/ol.js" type="text/javascript"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
<style>
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
</head>

<body class="w3-light-grey">
<input type="hidden" id="playerZipCode" th:value="${player.zipCode}"/>
<!-- Top container -->
<div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
  <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
  <span class="w3-bar-item w3-right">Logo</span>
</div>


<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px;margin-top:43px;">

  <!-- Header -->
  <header class="w3-container" style="padding-top:22px">
    <h5><b><i class="fa fa-dashboard"></i>Welcome, <strong><td><tr th:text="${player.fName}"></td></strong></b></h5>
  </header>
  

  <div class="w3-row-padding w3-margin-bottom">
    <div class="w3-quarter">
      <div class="w3-container w3-red w3-padding-16">
        <div class="w3-left">
        	<form action="/getZip">
  				<label for="sport">Choose a sport:</label>
  				<select name="sport" id="sport">
	    			<option value="basketball">Basketball</option>
	    			<option value="soccer">Soccer</option>
	    			<option value="baseball">Baseball</option>
	    			<option value="football">Football</option>
	    			<option value="tennis">Tennis</option>
  				</select>
  				<br>ZIPCode<input type="text" name="zipCode"><br><br>
  			<br>
  			<input type="submit" value="Submit"><br><br>
			</form>
		</div>
      </div>
    </div>

<!--
    <div class="w3-quarter">
      <div class="w3-container w3-blue w3-padding-16">
        <div class="w3-left">
        	<form action="/getZip">
        		ZIPCode<input type="text" name="zipCode"><br><br>
        	<input type="submit" value="Submit"><br>
        	</form>
        </div>
      </div>
    </div>
    -->

    <div class="w3-quarter">
      <div class="w3-container w3-orange w3-text-white w3-padding-16">
        <div class="w3-left"><i class="fa fa-users w3-xxxlarge"></i></div>
        <div class="w3-right">
          <h3><td><tr th:text="${count}"></td></h3>
        </div>
        <div class="w3-clear"></div>
        <h4>Total Users</h4>
      </div>
    </div>
  </div>

  <div class="w3-panel" style="height:100%;">
    <div class="w3-row-padding" style="margin:0 -16px; height:100%;">
      <div id="mapContainer" class="w3-third">
        <h5>My Map</h5>
		<div id="map"></div>
      </div>
      <div class="w3-twothird">
        <h5>Sports</h5>
        <table class="w3-table w3-striped w3-white">
          <tr>
            <td></td>
            <td>Basketball</td>
            <td><i th:text="${basketballcount}"></i></td>
          </tr>
          <tr>
            <td></td>
            <td>Soccer</td>
            <td><i th:text="${soccercount}"></i></td>
          </tr>
          <tr>
            <td></td>
            <td>Baseball</td>
            <td><i th:text="${baseballcount}"></i></td>
          </tr>
          <tr>
            <td></td>
            <td>Football</td>
            <td><i th:text="${footballcount}"></i></td>
          </tr>
          <tr>
            <td></td>
            <td>Tennis</td>
            <td><i th:text="${tenniscount}"></i></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br>

<script>
	var map;

	window.onload = function ()
	{
		var mapElement = document.getElementById('mapContainer');
		var display = mapElement.style.display;
		mapElement.style.display = 'none';
		mapElement.style.height = (mapElement.parentElement.offsetHeight) + "px";
		document.getElementById('map').style.height = "90%";
		mapElement.style.display = display;
		
   		map = new ol.Map({
        target: 'map',
		controls: [
		
		],
        layers: [
          new ol.layer.Tile({
            source: new ol.source.OSM()
          })
          
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 4
        })
		});
		
		var playerZip = document.getElementById("playerZipCode").value;
		if(playerZip!=null)
			zoomInOnZip(playerZip);
		else
			zoomInOnZip(91768);
		
		var vectorLayer = new ol.layer.Vector({
	        source:new ol.source.Vector({
	          features: [new ol.Feature({
	                geometry: new ol.geom.Point(ol.proj.transform([parseFloat(lng), parseFloat(lat)], 'EPSG:4326', 'EPSG:3857')),
	            })]
	        }),
	        style: new ol.style.Style({
	          image: new ol.style.Icon({
	            anchor: [0.5, 0.5],
	            anchorXUnits: "fraction",
	            anchorYUnits: "fraction",
	            src: "https://upload.wikimedia.org/wikipedia/commons/e/ec/RedDot.svg"
	          })
	        })
	      });

	      map.addLayer(vectorLayer); 
		
		
	};
	
	window.onresize = function()
	{
		setTimeout( function() { map.updateSize();}, 200);
	}

	// Get the Sidebar
	var mySidebar = document.getElementById("mySidebar");

	// Get the DIV with overlay effect
	var overlayBg = document.getElementById("myOverlay");

	// Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
	  if (mySidebar.style.display === 'block') {
		mySidebar.style.display = 'none';
		overlayBg.style.display = "none";
	  } else {
		mySidebar.style.display = 'block';
		overlayBg.style.display = "block";
	  }
	}

	// Close the sidebar with the close button
	function w3_close() {
	  mySidebar.style.display = "none";
	  overlayBg.style.display = "none";
	}
  
	function zoomInOnZip(zip)
	{
		console.log("Focusing on zip code: " + zip);
		axios.get('https://nominatim.openstreetmap.org/search?q=&format=geocodejson&postalcode=' + zip + '&countrycodes=US')
		.then(function (response) {
			if(response["data"]["features"].length == 0)
			{
				// No response returned, this zip code is invalid
			}
			else
			{
				var coordinates = response["data"]["features"][0]["geometry"]["coordinates"];
				var longitude = coordinates[0];
				var latitude = coordinates[1];
				
				
				map.setView(new ol.View({
					center: ol.proj.fromLonLat([longitude, latitude]),
					zoom: 12
				}));


				var vectorLayer = new ol.layer.Vector({
				source:new ol.source.Vector({
				features: [new ol.Feature({
						geometry: new ol.geom.Point(ol.proj.transform([parseFloat(longitude), parseFloat(latitude)], 'EPSG:4326', 'EPSG:3857')),
					})]
				}),
				style: new ol.style.Style({
				image: new ol.style.Icon({
					anchor: [0.5, 0.5],
					anchorXUnits: "fraction",
					anchorYUnits: "fraction",
					src: "https://upload.wikimedia.org/wikipedia/commons/e/ec/RedDot.svg"
				})
			})
		    });
		
		    map.addLayer(vectorLayer); 
				
				
			}
		}).catch(function (error) {
			// handle error
		})
			.then(function () {
			// always executed
		});
	}
</script>
</body>
</html>

