<!-- <button onclick="document.location='home'"></button> -->
<!DOCTYPE html>
<html>
<head>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<link rel="stylesheet" href = "css/login.css">
<title>Account Login</title>
<body>
  <div class = "login-img">
	<form action="getPlayer" name="login" class="container" onsubmit="return validateForm()" method="POST"><br>
    <h1>Login</h1>
		Username<input type="text" name="username"><br>
		Password<input type="password" name="password"><br>
		<button type="submit" class="btn">Login</button>
    <p><a href="register">Don't Have an Account? Register here.</a></p>
	</form>
	<br>
</body>
</html>
<script>
function validateForm() {
	var form = document.forms["login"];
	Cookies.set('username', form['username'].value, { expires: 7 });
	Cookies.set('password', form['password'].value, { expires: 7 });
	return true;
}
</script>
