<!doctype html>
<html>
    <head>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="js/navforms.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Map</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="css/main.css">
		
		<input type="hidden" id="playerZipCode" th:value="${player.zipCode}"/>
		<input type="hidden" id="playerAddress" th:value="${player.address}"/>
		<input type="hidden" id="playerCity" th:value="${player.city}"/>
		<input type="hidden" id="playerState" th:value="${player.state}"/>
    </head>
    <body style="height: 100%;">
			<div style="width:10%; height: 100%; padding-top: 5%; background-color: rgba(20, 20, 20, 150); position: fixed;">
				<a href="/search">
				<div class="menuItem">
					<img src="img/search-icon.png" alt="" class="center">
				</div>
				</a>
				<a href="/getPlayer">
				<div class="menuItem">
					<img src="img/account-icon.png" alt="" class="center">
				</div>
				</a>
				<a href="/map">
				<div class="menuItem selected">
					<img src="img/map-icon.png" alt="" class="center">
				</div>
				</a>
				<a href="/messages">
				<div class="menuItem">
					<img src="img/messages-icon.png" alt="" class="center">
				</div>
				</a>
			</div>
			<div style="width:90%; height: 100%; margin-left: 10%;">
				<div style="font-size: 42pt; font-weight:bold; color: white; padding: 25px;">Map</div>
				<div class="row" style="width:100%; height: 100%">
					<div id="mapContainer" style="float: left; width: 50%; padding-left: 25px;">
						<div id="map"></div>
					</div>
					<div id="pointDetails" style="display: none; margin-left: 52.5%; color: white; border-radius: 5%; width:40%; height: 80%; background-color: rgba(50, 50, 50, .75);">
						<div style="text-align: center; font-weight: bold; padding: 2.5%; height: 95%;">
							<div id="pointTitle" style="font-size: 32pt;">
								Map Point Title
							</div>
							<button id="pointInteractionButton" style="display: none; height: 5%; width: 25%; background-color: rgba(76, 171, 63, 1); margin: 0 auto; border-radius: 10%;"></button>
							<div id="pointDescription" style="margin-top: 10px; font-size: 18pt; text-align: left; font-weight: normal;">
								Map point description
							</div>
						</div>
					</div>
				</div>
			</div>
    </body>
</html>

<script>
	var map;
	var markerLayer;
	var vectorSource;
	var markers = [];
	var selectedPointData;
	var user;
	var pass;
	
	window.onload = function ()
	{
		user = Cookies.get('username');
		pass = Cookies.get('password');
		var mapElement = document.getElementById('mapContainer');
		var display = mapElement.style.display;
		mapElement.style.display = 'none';
		mapElement.style.height = (mapElement.parentElement.offsetHeight) + "px";
		document.getElementById('map').style.height = "80%";
		mapElement.style.display = display;
		
		vectorSource = new ol.source.Vector({});
		
   		map = new ol.Map({
        target: 'map',
		controls: [
		
		],
        layers: [
			new ol.layer.Tile({
				source: new ol.source.OSM()
			}),
			new ol.layer.Vector({
				source: vectorSource
			})
        ],
        view: new ol.View({
          center: ol.proj.fromLonLat([37.41, 8.82]),
          zoom: 4
        })
		});
		
		map.on('click', function(evt) {
			setInteractionMode("None");
			document.getElementById("pointDetails").style.display = "none";
			var features = map.forEachFeatureAtPixel(evt.pixel,
				function(feature) {
					var pointInfo = feature["values_"];
					console.log('Point info: ' + pointInfo);
					if(pointInfo["type"] == "Player")
					{
						document.getElementById("pointDetails").style.display = "block";
						var playerData = pointInfo["pointData"];
						
						axios.get('/checkFriendshipByUsernames', 
						{ 
							params: { 
								firstUser: user,
								secondUser: playerData["username"]
						}}).then(function (response) {
							console.log("Data: ");
							console.log(response["data"]);
							console.log(response);
							if(response["data"] == false)
								setInteractionMode("Add Friend");
							else
								setInteractionMode("Remove Friend");
						}).catch(function (error) {
							console.log(error);
						}).then(function () {
							
						});
						
						var bioText = "No bio.";
						selectedPointData = playerData;
						if(playerData["bio"] != null && playerData["bio"] != "")
							bioText = playerData["bio"];
						document.getElementById("pointTitle").innerHTML = playerData["firstName"] + " " + playerData["lastName"];
						document.getElementById("pointDescription").innerHTML = "<div>Bio</div>" + bioText;
						// document.getElementById("pointDescription").innerHTML += "<button style='position: absolute; bottom: 0;'>Add Friend</button>";
						console.log("Feature clicked: " + feature["values_"]["name"]);
					}
				}
			);
			
			console.log(features);
		});
		
		axios.get('/getPlayers')
		.then(function (response) {
			console.log("Players: " + response);
			response["data"].forEach(function(player) {
				console.log(player);
				// For each user that is not the current one
				if(player["username"] != user)
				{
					placeIconAtAddress(player["zipCode"], player["address"], player["city"], player["state"], 'img/account-icon-black.png', "Player", player, false);
				}
			});
		}).catch(function (error) {
			console.log(error);
		}).then(function () {
			
		});
		
		var zip = document.getElementById("playerZipCode").value;
		var address = document.getElementById("playerAddress").value;
		var city = document.getElementById("playerCity").value;
		var state = document.getElementById("playerState").value;
		placeIconAtAddress(zip, address, city, state, 'img/home-icon-black.png', 'Home', '', true);
	};
	
	window.onresize = function()
	{
		setTimeout( function() { map.updateSize();}, 200);
	}

	// Get the Sidebar
	var mySidebar = document.getElementById("mySidebar");

	// Get the DIV with overlay effect
	var overlayBg = document.getElementById("myOverlay");

	// Toggle between showing and hiding the sidebar, and add overlay effect
	function w3_open() {
	  if (mySidebar.style.display === 'block') {
		mySidebar.style.display = 'none';
		overlayBg.style.display = "none";
	  } else {
		mySidebar.style.display = 'block';
		overlayBg.style.display = "block";
	  }
	}
	
	// Close the sidebar with the close button
	function w3_close() {
	  mySidebar.style.display = "none";
	  overlayBg.style.display = "none";
	}
	
	function placeIconAtAddress(zip, address, city, state, iconSrc, type, data, setFocus)
	{
		var homePoint = null;
		axios.get('https://nominatim.openstreetmap.org/search?q=' + address + ',' + city + '&format=geocodejson&postalcode=' + zip + '&countrycodes=US')
		.then(function (response) {
			if(response["data"]["features"].length == 0)
			{
				console.log("Invalid address");
			}
			else
			{
				var coordinates = response["data"]["features"][0]["geometry"]["coordinates"];
				var longitude = coordinates[0];
				var latitude = coordinates[1];
				
				if(setFocus)
				{
					map.setView(new ol.View({
						center: ol.proj.fromLonLat([longitude, latitude]),
						zoom: 13
					}));
				}
				
				var iconStyle = new ol.style.Style({
					image: new ol.style.Icon({
						src: iconSrc,
						scale: .5
					})
				});
				
				homePoint = new ol.Feature({
					geometry: new ol.geom.Point(
						ol.proj.fromLonLat([longitude, latitude])
					),
				});
				
				homePoint.setStyle(iconStyle);
				
				vectorSource.addFeature(homePoint);
				
				homePoint.set('type', type);
				homePoint.set('pointData', data);
				return homePoint;
			}
		}).catch(function (error) {
			return homePoint;
		}).then(function () {
			return homePoint;
		});
		return homePoint;
	}
	
	function setInteractionMode(mode)
	{
		var interactionButton = document.getElementById("pointInteractionButton");
		interactionButton.style.display = "block";
		if(mode == "Add Friend")
		{
			interactionButton.onclick = addFriend;
			interactionButton.style.backgroundColor = "rgba(76, 171, 63, 1)";
			interactionButton.textContent = 'Add Friend';
		}
		else if(mode == "Remove Friend")
		{
			interactionButton.onclick = removeFriend;
			interactionButton.style.backgroundColor = "rgba(227, 61, 0, 1)";
			interactionButton.textContent = "Remove Friend";
		}
		else
		{
			interactionButton.style.display = "none";
			interactionButton.textContent = "";
		}
	}
	
	function addFriend()
	{
		axios({
		  method: 'put',
		  url: '/addFriend',
		  data: {
			otherUser: selectedPointData["username"]
		}});
		setInteractionMode("Remove Friend");
	}
	
	function removeFriend()
	{	
		axios({
		  method: 'put',
		  url: '/removeFriend',
		  data: {
			otherUser: selectedPointData["username"]
		}});
		setInteractionMode("Add Friend");
	}
</script>
