<!doctype html>
<html>
    <head>
	<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.4.3/build/ol.js"></script>
	<script src="js/navforms.js"></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Stacked - Free CSS Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
		<link rel="stylesheet" href="css/main.css">
    </head>
    <body style="height: 100%;">

			<div style="width:10%; height: 100%; padding-top: 5%; background-color: rgba(20, 20, 20, 150); position: fixed;">
				<form action="search" class="menuItem" name="login" onsubmit="return searchForm()" method="POST"><br>
					<input type="text" name="username" id="searchUser" style="display: none;"/>
					<input type="text" name="password" id="searchPass" style="display: none;"/>
					<button type="submit">
					  <img src="img/search-icon.png" alt="" class="center">
					</button>
				</form>
				<form action="" class="menuItem selected" name="login" onsubmit="return profileForm()" method="POST"><br>
					<input type="text" name="username" id="mapUser" style="display: none;"/>
					<input type="text" name="password" id="mapPass" style="display: none;"/>
					<button type="submit">
					  <img src="img/account-icon.png" alt="" class="center">
					</button>
				</form>
				<form action="map" class="menuItem" name="login" onsubmit="return mapForm()" method="POST"><br>
					<input type="text" name="username" id="profileUser" style="display: none;"/>
					<input type="text" name="password" id="profilePass" style="display: none;"/>
					<button type="submit">
					  <img src="img/map-icon.png" alt="" class="center">
					</button>
				</form>
				<form action="messages" class="menuItem" name="login" onsubmit="return messagesForm()" method="POST"><br>
					<input type="text" name="username" id="messagesUser" style="display: none;"/>
					<input type="text" name="password" id="messagesPass" style="display: none;"/>
					<button type="submit">
					  <img src="img/messages-icon.png" alt="" class="center">
					</button>
				</form>
			</div>
			<div style="width:90%; margin-left: 10%;">
				<div class="center" style="top: 5% !important; text-align:center;">
					<div class="center" style="border-radius: 50%; border: 4px solid black; width: 200px; height: 200px;">
						<img src="img/test.png" class="circleImage" style=" width: 100%;">
					</div>
					<div style="color: white; font-weight: bold; font-size: 42pt;"><div th:text="${player.firstName + ' ' + player.lastName}"/></div>
				</div>
				<div class="center" style="top: 5% !important; margin-top: 5px; text-align:center; width: 100%; height: 100%; background-color: rgba(50, 50, 50, .5);">
					<div style="width: 100%; height: 100%; color: white; float: left; padding: 25px; font-weight: bold; font-size: 32pt;">
						<div style="display: flex;">
							<div style="text-align: left;">
							Bio
							</div>
							<button id="doneEditingButton" onclick="submitBio()" style="float: left; background-color: rgba(76, 171, 63, 1) !important; width: 32pt; height: 32pt; display: none; border-radius: 20%; margin-left: 10px;">Save</button>
							<input id="editButton" style="width: 32pt; height: 32pt;" type="image" src="img/edit-icon-2.png" onclick="enableBioEdit()"/>
						</div>
						<textarea id="bioInput" placeholder="Write something about yourself here!" disabled style="width: 90%; color: white; background-color: rgba(75, 75, 75, .75); height: 50%; resize: none; float: left;" th:field="*{player.bio}"></textarea>
						Friends<br>
						ksdfajkls<br>
						kdsjfklsfd<br>
						<br>kfsjakfjsafklsa
						<br>kfdjlkjalsfjklsdajkf
						<br>ksjakfjaslfjkl
					</div>
				</div>
			</div>
    </body>
</html>
<script>
	function enableBioEdit()
	{
		document.getElementById("doneEditingButton").style.display = "block";
		document.getElementById("editButton").style.display = "none";
		document.getElementById("bioInput").disabled = false;
	}
	
	function submitBio()
	{
		document.getElementById("doneEditingButton").style.display = "none";
		document.getElementById("editButton").style.display = "block";
		document.getElementById("bioInput").disabled = true;
		
		var user = Cookies.get('username');
		var pass = Cookies.get('password');
		
		axios({
		  method: 'put',
		  url: '/updateBio',
		  data: {
			username: user,
			password: pass,
			bio: document.getElementById("bioInput").value
		}});
	}
</script>
